<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="25" android:versionName="4.3" android:installLocation="auto" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.jxl.app.littlestars.project" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <permission android:name="com.shix.fcmpush1.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.shix.fcmpush1.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <permission android:name="shix.ihdbell.project.permission.MIPUSH_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="shix.ihdbell.project.permission.MIPUSH_RECEIVE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>
    <permission android:name="shix.ihdbell.project.push.permission.MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="shix.ihdbell.project.push.permission.MESSAGE"/>
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="shix.ihdbell.project.permission.C2D_MESSAGE"/>
    <application android:label="@string/app_name" android:icon="@drawable/littelstars_icon_new" android:name="shix.ihdbell.project.App" android:hardwareAccelerated="false" android:requestLegacyExternalStorage="true">
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <provider android:name="android.support.v4.content.FileProvider" android:exported="false" android:authorities="com.jxl.app.littlestars.project.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <receiver android:name="shix.ihdbell.project.HWMyReceiver">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
                <action android:name="com.huawei.android.push.intent.CLICK"/>
                <action android:name="com.huawei.intent.action.PUSH_STATE"/>
            </intent-filter>
            <meta-data android:name="CS_cloud_ablitity" android:value="@string/hwpush_ability_value"/>
        </receiver>
        <receiver android:name="com.huawei.android.pushagent.PushEventReceiver" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL"/>
                <action android:name="com.huawei.intent.action.PUSH"/>
                <action android:name="com.huawei.intent.action.PUSH_ON"/>
                <action android:name="com.huawei.android.push.PLUGIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.android.pushagent.PushBootReceiver" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTER"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <meta-data android:name="CS_cloud_version" android:value="2705"/>
        </receiver>
        <service android:name="com.huawei.android.pushagent.PushService" android:process=":pushservice"/>
        <service android:name="com.xiaomi.push.service.XMJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false" android:process=":pushservice"/>
        <service android:name="com.xiaomi.push.service.XMPushService" android:enabled="true" android:process=":pushservice"/>
        <service android:name="com.xiaomi.mipush.sdk.PushMessageHandler" android:enabled="true" android:exported="true"/>
        <service android:name="com.xiaomi.mipush.sdk.MessageHandleService" android:enabled="true"/>
        <receiver android:name="shix.ihdbell.project.XMMessageReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.xiaomi.push.service.receivers.PingReceiver" android:exported="false" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.meizu.cloud.pushsdk.NotificationService" android:exported="true"/>
        <receiver android:name="com.meizu.cloud.pushsdk.SystemReceiver">
            <intent-filter>
                <action android:name="com.meizu.cloud.pushservice.action.PUSH_SERVICE_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="shix.ihdbell.project.MZPushMsgReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE"/>
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
                <action android:name="com.meizu.c2dm.intent.REGISTRATION"/>
                <action android:name="com.meizu.c2dm.intent.RECEIVE"/>
                <category android:name="shix.ihdbell.project"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.shix.fcmpush1"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false"/>
        <service android:name="com.shix.fcmpush1.MyIDService" android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.shix.fcmpush1.MyMessagingService" android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.version" android:value="9080000"/>
        <activity android:label="@string/app_name" android:name="com.tzh.ipcamera.view.VC.CameraPlayAty" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:label="@string/app_name" android:name="com.tzh.ipcamera.view.VC.CameraApAty" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:label="@string/app_name" android:name="shix.ihdbell.project.IpcamClientActivity1" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan"/>
        <activity android:theme="@style/Theme.Start" android:name="shix.ihdbell.project.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="Add Camera" android:name="shix.ihdbell.project.OnkeyActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="HelpActivity" android:name="shix.ihdbell.project.HelpActivity" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="Add Camera" android:name="shix.ihdbell.project.SertchActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="Add Camera" android:name="shix.ihdbell.project.AddCameraActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="play" android:name="shix.ihdbell.project.ListeningPlayActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="about" android:name="shix.ihdbell.project.AboutActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="setting" android:name="shix.ihdbell.project.SettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:label="setting" android:name="com.tzh.ipcamera.view.VC.VideoPlayer" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar" android:label="localwifi" android:name="com.tzh.ipcamera.view.VC.LoginLocalWiFiAty" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar" android:label="localwifi" android:name="com.tzh.ipcamera.view.VC.LoginDeviceInfoAty" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:label="setting" android:name="com.tzh.ipcamera.view.VC.VideoViewPlay" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="localvideopicture" android:name="shix.ihdbell.project.ShowLocalVideoActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="LocalPicture" android:name="shix.ihdbell.project.LocalPictureListActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="ShowLocPicture" android:name="shix.ihdbell.project.ShowLocalPictureActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="WifiSetting" android:name="shix.ihdbell.project.SettingWifiActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="UserSetting" android:name="shix.ihdbell.project.SettingUserActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="UserSetting" android:name="shix.ihdbell.project.SettingPushActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.SettingAlarmActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.SettingDelayActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.SettingDNSActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.SettingNetworkActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.SettingDateActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.SettingSystemActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.SettingInterfaceActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="shix.ihdbell.project.AlarmLogActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.CloudActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.CloudLogActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.ClouDateActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.PlayBackTFActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.PlayBackActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.ShowLocalPicGridActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.AlarmActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.PictureActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.VideoActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.NoTitleBar.Fullscreen" android:name="object.p2pipcam.zxingtwodimensioncode.CaptureActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="shix.ihdbell.project.SettingSDCardActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="@string/app_name" android:name="shix.ihdbell.project.ListeningActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <service android:name="shix.ihdbell.project.BridgeService" android:exported="false"/>
        <activity android:name="shix.ihdbell.project.other.AllPicterCheckActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.other.AllVideoCheckActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="shix.ihdbell.project.OneSetActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:label="setting" android:name="com.tzh.ipcamera.view.VC.RemoteVideoPlayer" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="@string/app_name" android:name="com.tzh.ipcamera.view.VC.TFVideoActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tzh.ipcamera.view.VC.AddDeviceFailedActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.tzh.ipcamera.view.VC.PrivacyPolicyActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="privacy"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
