<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="15" android:versionName="2.9" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="shix.cykj.camera" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <permission android:name="shix.cykj.camera.permission.MIPUSH_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="shix.cykj.camera.permission.MIPUSH_RECEIVE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="shix.cykj.camera.permission.PROCESS_PUSH_MSG" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="shix.cykj.camera.permission.PUSH_PROVIDER" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="shix.cykj.camera.permission.PUSH_WRITE_PROVIDER" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="shix.cykj.camera.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="shix.cykj.camera.permission.PUSH_PROVIDER"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <application android:theme="@style/Theme.Start" android:label="@string/app_name" android:icon="@mipmap/app1" android:name="com.shix.shixipc.CrashApplication" android:allowBackup="true" android:supportsRtl="true" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/app1" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:requestLegacyExternalStorage="true">
        <provider android:name="com.shix.shixipc.MyFileProvider" android:exported="false" android:authorities="shix.cykj.camera.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.shix.shixipc.activity.OtaShowActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="com.shix.shixipc.activity.SplashActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.shix.shixipc.activity.TfFilesActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.TfFilesHourActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="com.shix.shixipc.activity.NUIMainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan"/>
        <activity android:label="localvideopicture" android:name="com.shix.shixipc.activity.ShowLocalVideoActivity" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.IpcamClientActivityFourTest" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan"/>
        <activity android:theme="@style/Theme.NoTitleBar.Fullscreen" android:name="com.google.zxing.activity.CaptureActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.shix.shixipc.activity.AddShowActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.shix.shixipc.activity.SettingDevAudioActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:label="Add Camera" android:name="com.shix.shixipc.activity.AddCameraActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="SertchActivity" android:name="com.shix.shixipc.activity.SertchActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/app_name" android:name="com.shix.shixipc.activity.ApConnectActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:label="NDNCameraLiveActivity" android:name="com.shix.shixipc.activity.NDNCameraLiveActivity" android:screenOrientation="portrait"/>
        <activity android:label="NDNCameraLiveActivity" android:name="com.shix.shixipc.activity.NDNCameraMjLiveActivity" android:screenOrientation="portrait"/>
        <activity android:label="NDNCameraLiveZoomActivity" android:name="com.shix.shixipc.activity.NDNCameraLiveZoomActivity" android:screenOrientation="portrait"/>
        <activity android:label="setting" android:name="com.shix.shixipc.activity.SettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="setting" android:name="com.shix.shixipc.activity.PasswordSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="setting" android:name="com.shix.shixipc.activity.SettingWifiActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="setting" android:name="com.shix.shixipc.activity.SettingDateActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="setting" android:name="com.shix.shixipc.activity.SettingAlarmActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="setting" android:name="com.shix.shixipc.activity.SettingSDCardActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="setting" android:name="com.shix.shixipc.activity.LocalPictureActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:label="@string/app_name" android:name="com.shix.shixipc.viewpager.ImagePagerActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.shix.shixipc.activity.CloudLogActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.ClouDateActivity" android:launchMode="singleTask" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.PlayBackTFActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.FourPlaySportActivty" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.PlayBackActivity" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.shix.shixipc.activity.CZActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.shix.shixipc.activity.PlayBackBKActivity" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.shix.shixipc.activity.PlayBackTimeActivity" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.shix.shixipc.activity.MenuHelepActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.NApGetWififActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.ErShowActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.shix.shixipc.activity.login.ForgetPwdActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.shix.shixipc.activity.login.LoginActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.shix.shixipc.activity.login.RegisterActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <service android:name="com.shix.shixipc.push.MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/qh_dev2"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <service android:name="com.shix.shixipc.MyHmsMessageService" android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/PermissionDialog" android:label="" android:name="com.shix.shixipc.push.PermissionActivity"/>
        <service android:name="com.xiaomi.push.service.XMJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false" android:process=":pushservice"/>
        <service android:name="com.xiaomi.push.service.XMPushService" android:enabled="true" android:process=":pushservice"/>
        <service android:name="com.xiaomi.mipush.sdk.PushMessageHandler" android:enabled="true" android:exported="true"/>
        <service android:name="com.xiaomi.mipush.sdk.MessageHandleService" android:enabled="true"/>
        <receiver android:name="com.shix.shixipc.push.DemoMessageReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.xiaomi.push.service.receivers.PingReceiver" android:exported="false" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.huawei.hms.support.api.push.PushMsgReceiver" android:permission="shix.cykj.camera.permission.PROCESS_PUSH_MSG" android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY"/>
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushReceiver" android:permission="shix.cykj.camera.permission.PROCESS_PUSH_MSG" android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.huawei.hms.support.api.push.service.HmsMsgService" android:enabled="true" android:exported="true" android:process=":pushservice" android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG"/>
                <action android:name="com.huawei.push.msg.PASSBY_MSG"/>
            </intent-filter>
        </service>
        <provider android:name="com.huawei.hms.support.api.push.PushProvider" android:permission="shix.cykj.camera.permission.PUSH_PROVIDER" android:readPermission="shix.cykj.camera.permission.PUSH_PROVIDER" android:writePermission="shix.cykj.camera.permission.PUSH_WRITE_PROVIDER" android:exported="true" android:authorities="shix.cykj.camera.huawei.push.provider"/>
        <meta-data android:name="com.huawei.hms.client.service.name:push" android:value="push:5.1.1.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:push:push" android:value="1"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="shix.cykj.camera.firebaseinitprovider" android:initOrder="100"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:name="com.huawei.hms.aaid.InitProvider" android:exported="false" android:authorities="shix.cykj.camera.aaidinitprovider" android:initOrder="500"/>
        <meta-data android:name="com.huawei.hms.client.service.name:opendevice" android:value="opendevice:5.1.1.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:opendevice:push" android:value="1"/>
        <meta-data android:name="com.huawei.hms.client.service.name:base" android:value="base:5.2.0.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:base:hmscore" android:value="1"/>
        <meta-data android:name="availableLoaded" android:value="yes"/>
        <provider android:name="com.huawei.hms.update.provider.UpdateProvider" android:exported="false" android:authorities="shix.cykj.camera.hms.update.provider" android:grantUriPermissions="true"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity" android:exported="false" android:configChanges="orientation|screenSize">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar"/>
        </activity>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.huawei.updatesdk.support.p051pm.PackageInstallerActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <provider android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider" android:exported="false" android:authorities="shix.cykj.camera.updateSdk.fileProvider" android:grantUriPermissions="true"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:theme="@style/Theme.Translucent" android:name="com.huawei.hms.activity.BridgeActivity" android:exported="false" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="locale|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale" android:hardwareAccelerated="true">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity android:name="com.huawei.hms.activity.EnableServiceActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"/>
        <provider android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider" android:exported="false" android:authorities="shix.cykj.camera.AGCInitializeProvider"/>
        <service android:name="com.huawei.agconnect.core.ServiceDiscovery" android:exported="false"/>
        <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=104000467"/>
    </application>
</manifest>
